body, html {
  width: 100%;
  height: 100%;
}

h2 {
  margin: 40px 0 20px 0;
}



.container {
  padding: 25px 0;
}

.wide-container {
  width: 100%;
  margin: auto;
}

span.cursor {
  border: solid 1px;
}

.scroll-prompt {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-prompt > * {
  margin: 0;
}

.scroll-prompt p {
  font-size: 1.5em;
}

.scroll-prompt img {
  height: 1.5em;
  width: 1.5em;
}

.bucket {
  width: 100%;
  padding-top: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
  cursor: pointer;
}

.bucket .background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  z-index: 0;
}

.bucket .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(10, 10, 10, 0.5);
  z-index: 2;
}

.bucket .content {
  height: auto;
  margin: 0 8px;
  color: white;
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 4;
}




#landing-page {
  text-align: center;
  height: 100vh;
}

div#intro {
  position: relative;
  top: 42%;
}



#services {
  background: #ffb400;
}

#services .b1 .background-image {
  background-image: url(./images/chill-day.jpg);
}

#services .b2 .background-image {
  background-image: url(./images/git.jpg);
}

#services .b3 .background-image {
  background-image: url(./images/code.jpg);
}
