body, html {
  width: 100%;
  height: 100%;
}

h2 { margin: 40px 0 20px 10px; }

a { color: #00a6ed; }
a:hover { color: #0d2c54; }



.wide-container > div { padding: 25px 0; }

.wide-container {
  width: 100%;
  margin: auto;
}

span.cursor { border: solid 1px; }

.scroll-prompt {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-prompt > * { margin: 0; }

.scroll-prompt p { font-size: 1.5em; }

.scroll-prompt img {
  height: 1.5em;
  width: 1.5em;
}

.bucket {
  width: 100%;
  padding-top: 100%;
  position: relative;
  margin: 20px 0;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}

.bucket:hover {
  transform: translateY(-24px);
  transition: 0.5s;
}

.bucket > * { border-radius: 100%; }

.bucket .background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  filter: blur(0.75px);
  z-index: 0;
}

.bucket .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(10, 10, 10, 0.5);
  z-index: 2;
}

.bucket .content {
  margin: 0 8px;
  color: white;
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 4;
}

.social {
  margin: 10px auto;
}

.social a {
  text-decoration: none;
}

.social svg {
  height: 64px;
  width: 64px;
  margin: 8px 0;
  transition: 0.5s;
}

.social svg:hover {
  width: 80px;
  height: 80px;
  transform:translateY(-8px);
  transition: 0.5s;
}



#landing-page {
  text-align: center;
  height: 100%;
}

div#intro {
  position: relative;
  top: 42%;
}



#projects { background: #ffb400; }

#projects .b1 .background-image { background-image: url(./images/bshower.jpg); }

#projects .b2 .background-image { background-image: url(./images/thing.jpg); }

#projects .b3 .background-image { background-image: url(./images/dictionary.png); }


#footer {
  text-align: center;
}
